USE [BudgetBuddy]
GO
/****** Object:  StoredProcedure [dbo].[spTemplates_GetTemplatesByUserName]    Script Date: 7/21/2022 6:32:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spTemplates_GetTemplatesByUserName] 
	-- Add the parameters for the stored procedure here
	@UserName nvarchar(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT t.Id, t.TemplateName
	FROM [dbo].[Templates] t
	inner join
	[dbo].[Users] u on t.UsersId = u.Id
	WHERE u.UserName = @UserName;

END
